# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Ansible
ansible/*.retry

# Kubernetes
kubeconfig
*.kubeconfig

# Packer
packer/**/*.pkrvars.hcl

# Secrets
*.pem
*.key
.env
certs/
